
.second {
    display: flex;
    border-top: 0.1mm solid rgb(204, 200, 200);
}

.second img {
    max-width: 100%;
}

.three-pictures {
    width: 35%;
    border-left: 0.1mm solid rgb(204, 200, 200);
}

.small-picture {
    display: flex;
    border-bottom: 0.1mm solid rgb(204, 200, 200);
    text-decoration: none;
    color: inherit;
    
}

.small-picture img {
    margin: 16px;
    max-width: 35%;
    height: fit-content;
}

#small-picture-one {
    margin-top: 32px;
}

.three {
    background-color: rgb(223, 219, 219);
}

.small-blocktext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6vmin;

}

.small-blocktext h1, .small-blocktext p {
    margin-bottom: 8px;
}

.link_a {
    color: rgb(52, 141, 214);
    text-decoration: none;
    padding-bottom: 10px;
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.link_a:hover {
    background-size: 0 3px, 100% 3px;
}

.text-big {
    font-size: 1.9rem;
    color: rgb(53, 53, 53);
}

.text-hurt h1, .four h2 {
    margin: 32px 0 24px 0;
}

.text-hurt p {
    font-weight: normal;
}

@media only screen and (max-width: 801px) {
    .text-hurt, .text-low {
        margin: 0 24px;
    }

    .small-blocktext {
        font-size: inherit;
    }

    .three-pictures {
        width: 100%;
    }
}


@media only screen and (max-width: 701px) {
    .three-pictures {
        width: 100%;
    }

    .small-picture {
        flex-direction: column;
        border: 0;
    }

    .small-picture img {
        max-width: 100%;
    }

    .small-blocktext {
        margin-left: 16px;
    }

    .three {
        background-color: transparent;
        border-bottom: 0.1mm solid rgb(204, 200, 200);
    }

    .three a {
        margin-bottom: 32px;
    }
}