.header {
    position: relative;
    background-color: inherit;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.activeNavLink {
    color: rgb(76, 135, 212);
}

.inactiveNavLink {
    color: inherit;
    text-decoration: none;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.logo_academy {
    display: flex;
    align-items: center;
}

.logo-name img, .link img {
    width: 40px;
    max-width: 100%;
}

.logo-name p {
    font-weight: bold;
    font-size: 1.5rem;
}

.logo-name span {
    color: rgb(155, 152, 152);
}

.navigation {
    margin-right: 24px;
}


.list span {
    margin-left: 8px;
}

.navigation  li {
    display: inline-flex;
    font-size: 1.25rem;
}

@media only screen and (min-width:427px) and  (max-width: 701px) {
    .header {
        flex-direction: column;
        height: 125px;
        justify-content: center;
        border-bottom: 0.1mm solid gray;
    }
    .logo-name {
        margin-left: 0;
    }
    
}

@media only screen and (min-width:427px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width:426px) {

    .desktop {
        display: none;
    }

    .logo-name {
        display: contents;
    }

    .logo-name img {
        margin: 0 ;
    }

    .header {
        margin: 0 10px;
    }
}


@media only screen and (max-width:375px)  {

    /* hiding desktop elements */

    .desktop {
        display: none;   
    }

    /* logo and nav */

    .logo-name {
        display: contents;
    }

    .logo-name img {
        margin: 0 ;
    }

}

@media only screen and (max-width: 350px) {
    .logo-name img {
        margin: 0;
    }
}