.first {
    background-color: rgb(223, 219, 219);
}

.images {
    max-width: 52%;
}

.marginall {
    margin: 32px 24px;
}

.marginup {
    margin-top: 32px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 26%;
    line-height: 1.2;
    margin-left: 5rem;
}

.text-block {
    font-size: 2.46vmin;
}

.text-block h1, .four h2 {
    margin-bottom: 32px;
    
}

.text-block p {
    font-weight: bold;
    margin-bottom: 24px;
}

.button {
    background-color: gray;
    line-height: 1.5;
    text-decoration: none;
}

.button p {
    text-align: center;
    padding: 8px;
    color: white;
    font-weight: normal;
}

.button p {
    margin: 0;

}

@media only screen and (min-width: 802px) and (max-width:1024px) {
    .text-block {
        font-size: 2vmin;
    }

}

@media only screen and (max-width: 801px) {

    .images {
        max-width: 100%;
        margin: 0;
    }

    .one {
        max-width: 100%;
        margin: 32px 16px;
        font-size: inherit;
    }

}


.wrp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bttn {
    width: 300px;
    height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(62 97 91) 0%, rgb(70 217 203) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .bttn::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #57e1d3c7;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .bttn:hover, .bttn:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .bttn:hover::before, .bttn:focus::before {
    opacity: 1;
  }
  
  .bttn::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .bttn:hover::after, .bttn:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }