
.nav_link {
    text-decoration: none;
    color: inherit;
}

.width100 {
    width: 100%;
}

.width47_hovered {
    width: 47%;
}

.brighten {
    filter: brightness(50%);
    filter: blur(2px);
    width: 35%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
    
.brighten_hover {
    transition: all 1s ease;
    filter: brightness(100%);
    filter: blur(0px);
    width: 40%;
}

.point:hover {
    cursor: pointer;
}

/* effects for Learn.js &  InfoImg.js*/

.content {
	max-width: 52%; 
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}


.grid {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	background: #3085a3;

}

.grid figure img {
	opacity: 0.8;
}

.grid figure figcaption {
    display: flex;
    align-items: center;
	padding: 2rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.grid figure figcaption > a {
	font-size: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure h1 {
	letter-spacing: 1px;
	font-size: 150%;
}




@media screen and (max-width: 801px) {
	.content {
		text-align: center;
        max-width: inherit;
        padding: 0;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}

    .grid figure h1 {
        font-size: 5vmin;
    }
}

@media only screen and (min-width:427px) {
    .mobile {
        display: none;
    }

}

@media only screen and (max-width:426px) {

    .desktop {
        display: none;
    }
}