.special_two {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 219, 219);
    border-top: 0.1mm solid rgb(204, 200, 200);
}


.text-low {
    margin-bottom: 32px;
}

.block-three h1 {
    display: flex;
    justify-content: center;
    font-size: 6.5vmin;
}


.midpic-line {
    display: flex;
}

.midpic {
    background-color: white;
    margin-top: 32px;
    width: 100%;
}

.midpic-slave {
    display: flex;
    flex-direction: column;
    margin: 27px;
}

.midpic img {
    width: 100%;
    height: auto;
}

.midpic-text {
    position: absolute;
    margin: 50px 16px 50px 16px;
    background-color: inherit;
    font-size: 1.6vw;
}


.midpic-text-p {
    margin: 8px 0px;
}

/* handle change of h2 color */
.midpic-text_h2_nonHovered {
    transition: 
        color 0.5s ease-in,
        text-shadow 0.5s ease-in;
    color: #4d8ebd;
    text-shadow: 2px 3px 2px black;
}

.midpic-text_h2_hovered {
    transition: 
        color 0.5s ease-in,
        text-shadow 0.5s ease-in;
    color: #f2f2f2;;
}



.midpic-h2 {
    display: flex;
    margin: 16px;
    font-size: 2.5vmin;
}

/* reveal the text info */
.hiding_midpic_hover {
    transition: all 0.5s ease-in;
    transition-property: opacity, height, margin;
}

/* normal hiding text */
.hiding_midpic {
    transition: all 500ms ease-in;
    opacity: 0;
    margin-bottom: -6rem;
    
}

/* resize whole block if hovered */
.hovered_img {
    width: 110%;
}

.box.box1,
.box.box1~.bg {
    background: inherit;
}
    
.box.box2,
.box.box2~.bg {
    background: inherit;
}
    
.box.box3,
.box.box3~.bg {
    background: inherit;
}
    

@media only screen and (min-width:768px) {

    .box.box1:hover, 
    .box.box2:hover,
    .box.box3:hover  {
        background-color: rgba(0, 0, 0, 0.651); 
    }

    .box:hover {
        color: #f2f2f2;
    }

    .box.box1:hover~.bg {
        opacity: 1;
        background: #e2a9e5;
        background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
        background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
        background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
    }
      
    .box.box2:hover~.bg {
        opacity: 1;
        background: #632c65;
        background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
        background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
        background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
    }
      
    
    .box.box3:hover~.bg {
        opacity: 1;
        background: #4b384c;
        background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
        background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
        background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
    }
    
}

@media only screen and (min-width:426px) {

    .mob_img_hide {
        display: none;
    }

    .box {
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease-in;
        z-index: 2;
    }
    
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease-in;
        pointer-events: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
}

  
@media only screen and (min-width:701px) and (max-width:1300px) {
    .midpic-text {
    font-size: 1.5vw;
    }
}

@media only screen and (min-width:702px) and (max-width:1000px) {
    .midpic-text {
        margin: 20px 16px 50px 16px;
    }
    
}


@media only screen and (max-width:768px ) {
    .midpic-text {
        font-size: 3.0vw;
        margin: 16px 10px 39px 10px;
    }

    .midpic-slave {
        margin: 15px;
    }

    .midpic-line {
        flex-direction: column;
    }

}

@media only screen and (min-width:426px) and (max-width:768px) {
    .midpic-line {
        margin-right: 20px;
    }

    .midpic {
        display: flex;
        justify-content: center;
    }

    .midpic-text {
        margin-left: 2rem;
    }

    .mobile_h2 {
        margin-bottom: 1.5rem;
    }
    
    .opacity_off {
        opacity: 1;
    }
    
    .hiding_midpic_click {
        margin-bottom: 0;
        opacity: 1;
        color: #ffffff;
        text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    }

    .tablet_click_on {
        background-color: rgba(0, 0, 0, 0.651);
        color: aliceblue;
    }

    .midpic-text_h2_nonHovered {
        padding: 1.5rem 0;
    }
}

@media only screen and (max-width:550px)  {
    .third {
        display: block;
        background-color: transparent;
        border-bottom: 0.1mm solid rgb(204, 200, 200);
        padding-bottom: 32px;
    }

    .six-pics {
        margin: 16px 16px;
    }

    .midpic {
        background-color: rgb(223, 219, 219);
        margin: 0 0 8px 0;
    }

    .midpic-slave {
        margin-left: 0;
    }

    .block-three h1 {
        font-size: 11vmin;
    }

    .midpic-text {
        font-size: inherit;
    }

}

@media only screen and (max-width:426px) {
    .midpic-text {
        position: relative;
        margin: 16px;
    }

    .display_block {
        display: block;
    }
    

    .midpic-text_h2_nonHovered {
        text-shadow: 1px 1px 0px black;
    }

    .mobile_h2 {
        margin-bottom: 1.5rem;
    }
    
    .opacity_off {
        opacity: 1;
    }
    
    .hiding_midpic_click {
        margin-bottom: 0;
        opacity: 1;
    }

}

