.special_two {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 219, 219);
    border-top: 0.1mm solid rgb(204, 200, 200);
}


.text-low {
    margin-bottom: 32px;
}

.block-three h1 {
    display: flex;
    justify-content: center;
    font-size: 6.5vmin;
}


.midpic-line {
    display: flex;
}

.midpic {
    background-color: white;
    margin-top: 32px;
    width: 100%;
}

.midpic-slave {
    display: flex;
    flex-direction: column;
    margin: 27px;
}

.midpic img {
    width: 100%;
    height: auto;
}

.midpic-text {
    margin: 16px 16px 50px 16px;
    font-size: 2.5vmin;
}

.midpic-h2 {
    display: flex;
    margin: 16px;
    font-size: 2.5vmin;
}

/* reveal the text info */
.hiding_midpic_hover {
    transition: all 0.5s ease-in;
    transition-property: opacity, height, margin;
    position: relative;
}

/* normal hiding text */
.hiding_midpic {
    transition: all 500ms ease-in;
    opacity: 0;
    margin-bottom: -6rem;
    
}

/* resize whole block if hovered */
.hovered_img {
    width: 110%;
}

.midpic-text-p {
    margin: 8px 0px;
}

@media only screen and (max-width:701px ) {
    .midpic-text {
        font-size: 2.6vmin;
        margin: 16px 10px 39px 10px;
    }

    .midpic-slave {
        margin: 15px;
    }

}

@media only screen and (max-width:550px)  {
    .third {
        display: block;
        background-color: transparent;
        border-bottom: 0.1mm solid rgb(204, 200, 200);
        padding-bottom: 32px;
    }

    .six-pics {
        margin: 16px 16px;
    }

    .midpic {
        background-color: rgb(223, 219, 219);
        margin: 0 0 8px 0;
    }

    .midpic-line {
        flex-direction: column;
    }

    .midpic-slave {
        margin-left: 0;
    }

    .block-three h1 {
        font-size: 11vmin;
    }

    .midpic-text {
        font-size: inherit;
    }

}
  
.box {
    position: relative;
    background: #f2f2f2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}
  
  
.box:hover {
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  }
  
.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.box.box1:hover, 
.box.box2:hover,
.box.box3:hover  {
    background-color: rgba(0, 0, 0, 0.651); 
}


.box.box1:hover~.bg {
    opacity: 1;
    background: #e2a9e5;
    background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
    background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
    background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.box.box1,
.box.box1~.bg {
    background: inherit;
}

.box.box2,
.box.box2~.bg {
    background: inherit;
}

.box.box3,
.box.box3~.bg {
    background: inherit;
}


/* .box.box1:hover {
    transition: all 1s ease-in;
} */
  
.box.box2:hover~.bg {
    opacity: 1;
    background: #632c65;
    background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
    background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
    background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}
  

.box.box3:hover~.bg {
    opacity: 1;
    background: #4b384c;
    background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
    background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
    background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
}
  